.nav {
    display: flex;
    justify-content: space-between;
    &__title {
        color: var(--color);
        padding-left: 45px;
    }
    &__icon {
        color: var(--color);
        &--brightness {
            margin-top: 3px;
        }
    }
}